@import 'partials/radius';
@import 'partials/width';

body {
  font: {
    family: "Lucida Sans";
  }
}

p {
  font: {
    weight: bold;
    style: italic;
    size: 20px;
  }
}

hr {
  border: 0.5px solid darkblue;
}