.xs-radius{
  border-radius: 5px;
}

.sm-radius{
  border-radius: 10px;
}

.md-radius{
  border-radius: 20px;
}

.l-radius{
  border-radius: 40px;
}

.xl-radius{
  border-radius: 70px;
}

.circle{
  border-radius: 100%;
}